@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IranSans";   /*Can be any text*/
  src: local("AirbnbCerealLight"),
    url("./assets/fonts/Iranian\ Sans.ttf") format("truetype");
}

body {
  margin: 0;
    font-family: IranSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  padding: 2rem;
}
*{
  font-family: IranSans !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
